/* ==========================================================================
   Header styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Header styles - begin
   ========================================================================== */
.mkdf-page-header {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  z-index: 110;
  box-sizing: border-box;
  /* ==========================================================================
    #General header layout - start
    ========================================================================== */
  /* ==========================================================================
    #General header layout - end
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - start
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - end
    ========================================================================== */
}

.mkdf-page-header a img {
  display: block;
}

.mkdf-page-header p {
  margin: 0;
}

.mkdf-page-header .mkdf-vertical-align-containers {
  padding: 0 40px;
}

.mkdf-paspartu-enabled .mkdf-page-header .mkdf-vertical-align-containers {
  padding: 0;
}

.mkdf-page-header .mkdf-grid {
  height: 100%;
}

.mkdf-page-header .mkdf-grid .mkdf-vertical-align-containers {
  padding: 0;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.mkdf-page-header .mkdf-logo-area {
  position: relative;
  height: 82px;
  overflow: hidden;
  background-color: #fff;
}

.mkdf-page-header .mkdf-logo-area .mkdf-logo-wrapper a {
  max-height: 82px;
}

.mkdf-page-header .mkdf-menu-area {
  position: relative;
  height: 82px;
  background-color: #fff;
  box-sizing: border-box;
}

.mkdf-boxed .mkdf-page-header .mkdf-menu-area {
  padding: 0;
}

.mkdf-page-header .mkdf-menu-area .mkdf-logo-wrapper a {
  max-height: 82px;
}

.mkdf-page-header .mkdf-menu-area .widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.mkdf-logo-area-border-disable .mkdf-page-header .mkdf-logo-area {
  border: none;
}

.mkdf-logo-area-in-grid-border-disable .mkdf-page-header .mkdf-logo-area .mkdf-grid .mkdf-vertical-align-containers {
  border: none;
}

.mkdf-header-logo-area-in-grid-padding .mkdf-page-header .mkdf-logo-area .mkdf-vertical-align-containers {
  padding: 0 25px;
}

.mkdf-menu-area-shadow-disable .mkdf-page-header .mkdf-menu-area {
  box-shadow: none;
}

.mkdf-menu-area-shadow-disable .mkdf-page-header .mkdf-menu-area .mkdf-grid .mkdf-vertical-align-containers {
  box-shadow: none;
}

.mkdf-menu-area-border-disable .mkdf-page-header .mkdf-menu-area {
  border: none;
}

.mkdf-menu-area-in-grid-border-disable .mkdf-page-header .mkdf-menu-area .mkdf-grid .mkdf-vertical-align-containers {
  border: none;
}

.mkdf-header-logo-area-in-grid-padding .mkdf-page-header .mkdf-menu-area .mkdf-vertical-align-containers {
  padding: 0 25px;
}

/* ==========================================================================
#Light header - begin
========================================================================== */
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-light-logo {
  opacity: 1;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-normal-logo,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-dark-logo {
  opacity: 0;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget p,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget span,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget i,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget .widgettitle {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget p,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget span,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget i,
.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget .widgettitle {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

/* ==========================================================================
#Light header - end
========================================================================== */
/* ==========================================================================
#Dark header - begin
========================================================================== */
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-dark-logo {
  opacity: 1;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-normal-logo,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-logo-wrapper .mkdf-light-logo {
  opacity: 0;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area {
  color: #333 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget {
  color: #333 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget p,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget span,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget i,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget .widgettitle {
  color: #333 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header) .mkdf-menu-area .widget a:hover {
  color: rgba(51, 51, 51, 0.8) !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area {
  color: #333 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget {
  color: #333 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget p,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget span,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget i,
.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget .widgettitle {
  color: #333 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.fixed):not(.mkdf-sticky-header).mkdf-menu-area .widget a:hover {
  color: rgba(51, 51, 51, 0.8) !important;
}

/* ==========================================================================
#Dark header - end
========================================================================== */
/* ==========================================================================
   Header end - end
   ========================================================================== */
/* ==========================================================================
   Header logo styles - begin
   ========================================================================== */
.mkdf-logo-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.mkdf-logo-wrapper a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.mkdf-logo-wrapper a img {
  height: 100%;
  width: auto;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.mkdf-logo-wrapper a img.mkdf-normal-logo {
  opacity: 1;
}

.mkdf-logo-wrapper a img.mkdf-dark-logo {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.mkdf-logo-wrapper a img.mkdf-light-logo {
  opacity: 0;
  -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  transform: translateY(-200%);
}

/* ==========================================================================
   Header logo styles - end
   ========================================================================== */
/* ==========================================================================
   Header main menu style - begin
   ========================================================================== */
.mkdf-main-menu {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  width: auto;
}

.mkdf-main-menu ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.mkdf-main-menu ul li {
  position: relative;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
}

.mkdf-main-menu ul li a {
  position: relative;
  font-size: 13px;
  line-height: 24px;
  color: #939598;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mkdf-main-menu ul li a:before {
  font-family: "FontAwesome";
  content: '\f054';
  position: absolute;
  top: 50%;
  font-size: 0.75em;
  color: #dbfc00;
  opacity: 0;
  -webkit-transform: translate3d(-27px, -50%, 0);
  -moz-transform: translate3d(-27px, -50%, 0);
  transform: translate3d(-27px, -50%, 0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-top: 1px;
}

.mkdf-main-menu ul li a:hover {
  -webkit-transform: translate3d(12px, 0, 0);
  -moz-transform: translate3d(12px, 0, 0);
  transform: translate3d(12px, 0, 0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mkdf-main-menu ul li a:hover:before {
  opacity: 1;
  -webkit-transform: translate3d(-13px, -50%, 0);
  -moz-transform: translate3d(-13px, -50%, 0);
  transform: translate3d(-13px, -50%, 0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.mkdf-main-menu ul li a i:before {
  margin: 0 7px 0 0;
}

.mkdf-main-menu ul li a .menu_icon_wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-main-menu ul li a .mkdf-menu-featured-icon {
  position: relative;
  top: -4px;
  left: 5px;
  color: currentColor;
  font-size: 10px;
  margin: 0;
}

.mkdf-main-menu ul li a .mkdf-menu-featured-icon:before {
  margin: 0;
}

.mkdf-main-menu > ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
}

.mkdf-main-menu > ul > li {
  float: left;
  height: 100%;
  box-sizing: border-box;
}

.mkdf-main-menu > ul > li > a {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  padding: 0 18px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}

.mkdf-main-menu > ul > li > a:before {
  font-family: "FontAwesome";
  content: '\f054';
  position: absolute;
  top: 50%;
  font-size: 0.75em;
  color: #dbfc00;
  -webkit-transform: translate3d(-27px, -50%, 0);
  -moz-transform: translate3d(-27px, -50%, 0);
  transform: translate3d(-27px, -50%, 0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-top: 1px;
}

.mkdf-main-menu > ul > li > a > span.item_outer {
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkdf-main-menu > ul > li > a > span.item_outer .item_text {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.mkdf-main-menu > ul > li.mkdf-active-item > a {
  -webkit-transform: translate3d(12px, 0, 0);
  -moz-transform: translate3d(12px, 0, 0);
  transform: translate3d(12px, 0, 0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mkdf-main-menu > ul > li.mkdf-active-item > a:before {
  opacity: 1;
  -webkit-transform: translate3d(-13px, -50%, 0);
  -moz-transform: translate3d(-13px, -50%, 0);
  transform: translate3d(-13px, -50%, 0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mkdf-main-menu > ul > li.has_sub > a .mkdf-menu-arrow {
  display: none;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li > a {
  color: #fff;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li.mkdf-active-item > a {
  color: #fff;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li > a {
  color: #333;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-main-menu > ul > li.mkdf-active-item > a {
  color: #333;
}

/* Narrow drop down styles
   ========================================================================== */
.mkdf-drop-down .second {
  position: absolute;
  display: block;
  left: 0;
  top: 100%;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transition: top 0.15s ease-out;
  -moz-transition: top 0.15s ease-out;
  transition: top 0.15s ease-out;
}

.mkdf-drop-down .second.mkdf-drop-down-start {
  visibility: visible;
  overflow: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.mkdf-drop-down .second.right {
  right: 0;
  left: auto;
}

.mkdf-drop-down .second .inner {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  z-index: 997;
}

.mkdf-drop-down .second .inner ul li {
  display: block;
  float: none;
  height: auto;
}

.mkdf-drop-down .second .inner ul li .widget {
  width: 100%;
  margin: 0 !important;
}

.mkdf-drop-down .second .inner ul li a {
  display: block;
  float: none;
  margin: 0;
  padding: 4px 37px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.mkdf-drop-down .second .inner ul li a .item_outer {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 30px 0 0;
  box-sizing: border-box;
  -webkit-transition: padding 0.2s ease-in-out;
  -moz-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}

.mkdf-drop-down .second .inner ul li a:hover .item_outer {
  padding: 0 10px 0 0;
}

.mkdf-drop-down .second .inner ul li.current-menu-ancestor > a,
.mkdf-drop-down .second .inner ul li.current-menu-item > a {
  -webkit-transform: translate3d(12px, 0, 0);
  -moz-transform: translate3d(12px, 0, 0);
  transform: translate3d(12px, 0, 0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mkdf-drop-down .second .inner ul li.current-menu-ancestor > a:before,
.mkdf-drop-down .second .inner ul li.current-menu-item > a:before {
  opacity: 1;
  -webkit-transform: translate3d(-13px, -50%, 0);
  -moz-transform: translate3d(-13px, -50%, 0);
  transform: translate3d(-13px, -50%, 0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mkdf-drop-down .second .inner ul li.sub > a .item_text {
  position: relative;
}

.mkdf-drop-down .second .inner ul li.sub > a .item_text:after {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: 0;
  right: -6px;
  content: '\f054';
  font-family: 'FontAwesome';
  color: #dbfc00;
  font-size: 0.7em;
  font-weight: normal;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mkdf-drop-down .second .inner ul.right li.sub > a .item_text:after {
  display: none;
}

.mkdf-drop-down .second .inner ul.right li.sub > a .item_text:before {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  top: 0;
  left: -6px;
  content: '\f053';
  font-family: 'FontAwesome';
  color: #dbfc00;
  font-size: 0.7em;
  font-weight: normal;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mkdf-drop-down .second .inner ul.right li a .item_outer {
  padding: 0 0 0 30px;
}

.mkdf-drop-down .second .inner ul.right li a:hover {
  -webkit-transform: translate3d(-12px, 0, 0);
  -moz-transform: translate3d(-12px, 0, 0);
  transform: translate3d(-12px, 0, 0);
}

.mkdf-drop-down .second .inner ul.right li a:hover .item_outer {
  padding: 0 0 0 10px;
}

.mkdf-drop-down .second .inner ul.right li.current-menu-ancestor > a,
.mkdf-drop-down .second .inner ul.right li.current-menu-item > a {
  -webkit-transform: translate3d(12px, 0, 0);
  -moz-transform: translate3d(12px, 0, 0);
  transform: translate3d(12px, 0, 0);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mkdf-drop-down .second .inner ul.right li a {
  text-align: right;
}

.mkdf-drop-down .second .inner ul.right li ul {
  left: -100%;
}

.mkdf-drop-down li.left_position .second {
  left: 0;
}

.mkdf-drop-down li.right_position .second {
  left: auto;
  right: 0;
}

.mkdf-drop-down > ul > li:hover > .second {
  z-index: 20;
}

.mkdf-drop-down .narrow .second .inner ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #000;
  padding: 28px 0 30px;
}

.mkdf-drop-down .narrow .second .inner ul li {
  width: 224px;
}

.mkdf-drop-down .narrow .second .inner ul li ul {
  position: absolute;
  left: 100%;
  top: -28px;
  height: auto;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.mkdf-drop-down .narrow .second .inner ul li ul li {
  width: 224px;
}

.mkdf-drop-down .narrow .second .inner ul li:hover ul {
  z-index: 20;
  opacity: 1;
}

.mkdf-drop-down .narrow .second .inner ul.right li ul {
  left: -100%;
}

/* Wide drop down styles
   ========================================================================== */
.mkdf-drop-down .wide .second .inner {
  background-color: #000;
  text-align: center;
}

.mkdf-drop-down .wide .second .inner ul li a {
  padding: 4px 0;
}

.mkdf-drop-down .wide .second .inner ul li ul {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  visibility: visible;
}

.mkdf-drop-down .wide .second .inner ul li ul li a {
  overflow: visible;
}

.mkdf-drop-down .wide .second .inner ul li ul li:last-child a {
  padding-bottom: 0;
}

.mkdf-drop-down .wide .second .inner > ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 1100px;
  padding: 35px 0 32px;
  box-sizing: border-box;
}

@media only screen and (min-width: 1400px) {
  .mkdf-grid-1300 .mkdf-drop-down .wide .second .inner > ul {
    width: 1300px;
  }
}

@media only screen and (min-width: 1300px) {
  .mkdf-grid-1200 .mkdf-drop-down .wide .second .inner > ul {
    width: 1200px;
  }
}

@media only screen and (min-width: 1200px) {
  .mkdf-grid-1000 .mkdf-drop-down .wide .second .inner > ul {
    width: 1000px;
  }
}

@media only screen and (min-width: 1024px) {
  .mkdf-grid-800 .mkdf-drop-down .wide .second .inner > ul {
    width: 800px;
  }
}

.mkdf-drop-down .wide .second .inner > ul > li {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0 26px;
  box-sizing: border-box;
}

.mkdf-drop-down .wide .second .inner > ul > li:nth-child(4n+1) {
  clear: both;
}

.mkdf-drop-down .wide .second .inner > ul > li > a {
  padding: 0;
  color: #fff;
  font-size: 15px;
  line-height: 1.1em;
  font-style: italic;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  margin-bottom: 23px;
  position: relative;
  overflow: visible;
}

.mkdf-drop-down .wide .second .inner > ul > li > a:before {
  display: none;
}

.mkdf-drop-down .wide .second .inner > ul > li > a:after {
  position: absolute;
  content: '';
  background-color: #dbfc00;
  width: 21px;
  height: 3px;
  left: 0;
  bottom: -10px;
}

.mkdf-drop-down .wide .second .inner > ul > li > a.no_link {
  cursor: default;
}

.mkdf-drop-down .wide .second .inner > ul > li > a .item_text:after {
  display: none;
}

.mkdf-drop-down .wide .second .inner > ul > li > a .item_outer {
  padding: 0;
  overflow: inherit;
}

.mkdf-drop-down .wide .second .inner > ul > li > a .item_outer:before {
  display: none;
}

.mkdf-drop-down .wide .second .inner > ul > li > a:hover {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.mkdf-drop-down .wide .second .inner > ul > li.current-menu-ancestor > a {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.mkdf-drop-down .wide.left_position .second .inner > ul, .mkdf-drop-down .wide.right_position .second .inner > ul {
  width: auto;
  white-space: nowrap;
}

.mkdf-drop-down .wide.left_position .second .inner > ul > li, .mkdf-drop-down .wide.right_position .second .inner > ul > li {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.mkdf-drop-down .wide.left_position .second .inner > ul > li:nth-child(4n+1), .mkdf-drop-down .wide.right_position .second .inner > ul > li:nth-child(4n+1) {
  border-left: none;
}

.mkdf-drop-down .wide.left_position .second ul li, .mkdf-drop-down .wide.right_position .second ul li {
  width: 200px;
}

/* ==========================================================================
   Header main menu style - end
   ========================================================================== */
/* ==========================================================================
   Fixed header style - begin
   ========================================================================== */
.mkdf-page-header .mkdf-fixed-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
}

.admin-bar .mkdf-page-header .mkdf-fixed-wrapper.fixed {
  top: 32px;
}

.mkdf-page-header .mkdf-fixed-wrapper.fixed .mkdf-menu-area {
  background-color: #fff;
}

/* ==========================================================================
   Fixed header style - end
   ========================================================================== */
/* ==========================================================================
   Header Standard style - begin
   ========================================================================== */
.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-main-menu {
  width: auto;
  padding: 0 0 0 20px;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-left-inner {
  height: 100%;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-right:before {
  display: none;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-center-inner {
  height: 100%;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-right:before {
  display: none;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-right .mkdf-main-menu {
  width: auto;
}

.mkdf-header-standard .mkdf-menu-area.mkdf-menu-right .mkdf-vertical-align-containers .mkdf-position-right-inner {
  height: 100%;
}

/* ==========================================================================
   Header Standard style - end
   ========================================================================== */
/* ==========================================================================
   Mobile header style - begin
   ========================================================================== */
.mkdf-mobile-header {
  position: relative;
  display: none;
  z-index: 110;
  /* #General mobile header styles
    ========================================================================== */
  /* #End of general mobile header styles
   ========================================================================== */
  /* #Mobile logo styles
    ========================================================================== */
  /* #End of mobile logo styles
    ========================================================================== */
  /* #Mobile menu opener styles
    ========================================================================== */
  /* #End of mobile menu opener styles
    ========================================================================== */
  /* #Mobile menu navigation styles
    ========================================================================== */
  /* #End of mobile menu navigation styles
	========================================================================== */
}

.mkdf-mobile-header .mkdf-mobile-header-inner {
  position: relative;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
  box-sizing: border-box;
}

.mkdf-mobile-header .mkdf-mobile-header-inner .mkdf-mobile-header-holder {
  position: relative;
  z-index: 2;
  height: 100%;
}

.mkdf-mobile-header .mkdf-mobile-header-inner .mkdf-mobile-header-holder .widget {
  margin: 0;
}

.mkdf-mobile-header .mkdf-grid {
  height: 100%;
}

.mkdf-mobile-header .mkdf-vertical-align-containers {
  padding: 0;
}

.mkdf-mobile-header .mkdf-mobile-logo-wrapper a {
  display: block;
}

.mkdf-mobile-header .mkdf-mobile-logo-wrapper img {
  display: block;
  height: 100%;
  width: auto;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener {
  position: relative;
  height: 100%;
  float: left;
  z-index: 2;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener a {
  display: table;
  height: 100%;
  padding-right: 10px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener a > * {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  line-height: 1em;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener a .mkdf-mobile-menu-text {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  padding-left: 5px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opened a {
  color: #dbfc00;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-icon-pack .mkdf-mobile-menu-icon {
  font-size: 24px;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-icon-pack .mkdf-mobile-menu-icon * {
  display: block;
  line-height: inherit;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-icon-pack .mkdf-mobile-menu-icon *:before {
  display: block;
  line-height: inherit;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-svg-path .mkdf-mobile-menu-icon > * {
  vertical-align: middle;
}

.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-svg-path .mkdf-mobile-menu-icon > *,
.mkdf-mobile-header .mkdf-mobile-menu-opener.mkdf-mobile-menu-opener-svg-path .mkdf-mobile-menu-icon path {
  fill: currentColor;
  stroke: currentColor;
}

.mkdf-mobile-header .mkdf-mobile-nav {
  display: none;
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
}

.mkdf-mobile-header .mkdf-mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.mkdf-mobile-header .mkdf-mobile-nav ul li {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-transform: translateZ(0);
}

.mkdf-mobile-header .mkdf-mobile-nav ul li a, .mkdf-mobile-header .mkdf-mobile-nav ul li h6 {
  position: relative;
  display: block;
  padding: 9px 0;
  margin: 0;
  color: #3d3d3d;
  border-bottom: 1px solid #e1e1e1;
  cursor: pointer;
}

.mkdf-mobile-header .mkdf-mobile-nav ul li a:hover, .mkdf-mobile-header .mkdf-mobile-nav ul li h6:hover {
  color: #dbfc00;
}

.mkdf-mobile-header .mkdf-mobile-nav ul ul {
  display: none;
  margin-left: 15px;
}

.mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-ancestor > a,
.mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-item > a,
.mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-ancestor > h6,
.mkdf-mobile-header .mkdf-mobile-nav ul ul li.current-menu-item > h6 {
  color: #dbfc00;
}

.mkdf-mobile-header .mkdf-mobile-nav ul ul li a, .mkdf-mobile-header .mkdf-mobile-nav ul ul li h6 {
  font-size: 11px;
  line-height: 24px;
}

.mkdf-mobile-header .mkdf-mobile-nav .mkdf-grid > ul > li > a,
.mkdf-mobile-header .mkdf-mobile-nav .mkdf-grid > ul > li > h6 {
  padding-left: 4px;
  font-size: 13px;
}

.mkdf-mobile-header .mkdf-mobile-nav .mkdf-grid > ul > li.mkdf-active-item > a,
.mkdf-mobile-header .mkdf-mobile-nav .mkdf-grid > ul > li.mkdf-active-item > h6 {
  color: #dbfc00;
}

.mkdf-mobile-header .mkdf-mobile-nav .mkdf-grid > ul > li.mkdf-active-item > .mobile_arrow > .mkdf-sub-arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mkdf-mobile-header .mkdf-mobile-nav .mobile_arrow {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: auto;
  padding: 9px 12px 9px 0;
  font-size: 15px;
  line-height: inherit;
  text-align: right;
  box-sizing: border-box;
}

.mkdf-mobile-header .mkdf-mobile-nav .mobile_arrow:hover {
  cursor: pointer;
}

.mkdf-mobile-header .mkdf-mobile-nav .mobile_arrow * {
  display: block;
  line-height: inherit;
}

.mkdf-mobile-header .mkdf-mobile-nav .mobile_arrow .mkdf-sub-arrow {
  line-height: 1;
  display: inline-block;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.mkdf-mobile-header .mkdf-mobile-nav .mobile_arrow .fa-angle-down {
  display: none;
}

.mkdf-mobile-header .mkdf-mobile-nav li.mkdf-opened > .mobile_arrow > .mkdf-sub-arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mkdf-mobile-header .mkdf-mobile-nav > ul > li:last-child > a,
.mkdf-mobile-header .mkdf-mobile-nav > .mkdf-grid > ul > li:last-child > a {
  border-bottom: none;
}

/* ==========================================================================
   Mobile header style - end
   ========================================================================== */
/* ==========================================================================
   Sticky Mobile header style - begin
   ========================================================================== */
.mkdf-sticky-up-mobile-header .mkdf-animate-mobile-header .mkdf-mobile-header-inner {
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  -moz-transition: -moz-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  transition: transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
}

.mkdf-sticky-up-mobile-header .mobile-header-appear .mkdf-mobile-header-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}

/* ==========================================================================
   Sticky Mobile header style - end
   ========================================================================== */
/* ==========================================================================
   Sticky header style - begin
   ========================================================================== */
.mkdf-sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.6s ease;
  -moz-transition: -moz-transform 0.6s ease;
  transition: transform 0.6s ease;
}

.mkdf-sticky-header .mkdf-grid {
  height: 100% !important;
}

.mkdf-sticky-header.header-appear {
  transform: translateY(0%);
}

.admin-bar .mkdf-sticky-header.header-appear {
  top: 32px;
}

.mkdf-sticky-header .mkdf-sticky-holder {
  position: relative;
  height: 100%;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 0 14.7px 0.3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.mkdf-sticky-header .mkdf-sticky-holder .mkdf-logo-wrapper a {
  max-height: 70px;
}

.mkdf-sticky-header .mkdf-sticky-holder .mkdf-vertical-align-containers {
  padding: 0 40px;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-left .mkdf-main-menu {
  width: auto;
  padding: 0 0 0 20px;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-left-inner {
  height: 100%;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-right:before {
  display: none;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-left .mkdf-vertical-align-containers .mkdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-center-inner {
  height: 100%;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-right:before {
  display: none;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-center .mkdf-vertical-align-containers .mkdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: flex;
  align-items: center;
  height: 100%;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-right .mkdf-main-menu {
  width: auto;
}

.mkdf-sticky-header .mkdf-sticky-holder.mkdf-menu-right .mkdf-vertical-align-containers .mkdf-position-right-inner {
  height: 100%;
}

.mkdf-sticky-header .widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

/* ==========================================================================
   Sticky header style - end
   ========================================================================== */
/* ==========================================================================
   Top header style - begin
   ========================================================================== */
.mkdf-top-bar {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 37px;
  color: #c5c5c5;
  font-size: 12px;
  line-height: 1;
  background-color: #000;
  z-index: 111;
  box-sizing: border-box;
}

.mkdf-top-bar > .mkdf-vertical-align-containers {
  padding: 0 15px;
}

.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-left:before,
.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-right:before {
  display: none;
}

.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-left-inner,
.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-right-inner {
  display: table;
  align-items: center;
  height: 100%;
}

.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-left-inner .widget,
.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-left-inner .mkdf-icon-widget-holder,
.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-right-inner .widget,
.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-right-inner .mkdf-icon-widget-holder {
  display: table-cell;
  height: 100%;
  border-left: 1px solid #3e3e3e;
  padding: 0 25px;
  vertical-align: middle;
}

.mkdf-dark-header .mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-left-inner .widget, .mkdf-dark-header
.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-left-inner .mkdf-icon-widget-holder, .mkdf-dark-header
.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-right-inner .widget, .mkdf-dark-header
.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-right-inner .mkdf-icon-widget-holder {
  border-color: #c5c5c5;
}

.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-left-inner .widget,
.mkdf-top-bar .mkdf-vertical-align-containers .mkdf-position-left-inner .mkdf-icon-widget-holder {
  border-right: 1px solid #fff;
}

.mkdf-top-bar .mkdf-grid {
  height: 100%;
}

.mkdf-top-bar .mkdf-grid .mkdf-vertical-align-containers {
  padding-left: 0;
  padding-right: 0;
}

.mkdf-top-bar-in-grid-padding .mkdf-top-bar .mkdf-grid .mkdf-vertical-align-containers {
  padding: 0 40px;
}

.mkdf-top-bar .widget {
  margin: 0;
}

.mkdf-top-bar .widget .widgettitle {
  display: inline-block;
}

.mkdf-dark-header .mkdf-top-bar .widget {
  color: #c5c5c5;
}

.mkdf-top-bar .mkdf-icon-widget-holder .mkdf-icon-text {
  font-size: 13px !important;
}

.mkdf-top-bar.light-header-top .widget,
.mkdf-top-bar.light-header-top .mkdf-icon-widget-holder {
  border-color: #fff !important;
  color: #fff !important;
}

.mkdf-top-bar.light-header-top .widget a:hover, .mkdf-top-bar.light-header-top .widget:hover,
.mkdf-top-bar.light-header-top .mkdf-icon-widget-holder a:hover,
.mkdf-top-bar.light-header-top .mkdf-icon-widget-holder:hover {
  color: #dbfc00 !important;
}

.mkdf-top-bar.dark-header-top .widget,
.mkdf-top-bar.dark-header-top .mkdf-icon-widget-holder {
  border-color: #000 !important;
  color: #000 !important;
}

.mkdf-top-bar.dark-header-top .widget a:hover, .mkdf-top-bar.dark-header-top .widget:hover,
.mkdf-top-bar.dark-header-top .mkdf-icon-widget-holder a:hover,
.mkdf-top-bar.dark-header-top .mkdf-icon-widget-holder:hover {
  color: #dbfc00 !important;
}

/* ==========================================================================
   Top header style - end
   ========================================================================== */
/* ==========================================================================
   Header styles - end
   ========================================================================== */

/*# sourceMappingURL=header-map.css.map */
