/* ==========================================================================
   Blog styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Blog Common style - begin
   ========================================================================== */
.mkdf-blog-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 40px;
  clear: both;
}

.mkdf-blog-holder article {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.mkdf-blog-holder article.sticky .mkdf-post-title a {
  color: #dbfc00;
}

.mkdf-blog-holder article .mkdf-post-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-holder article .mkdf-post-image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.mkdf-blog-holder article .mkdf-post-image img {
  display: block;
}

.mkdf-blog-holder article .mkdf-post-image-background {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.mkdf-blog-holder article .mkdf-post-image-background a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.mkdf-blog-holder article .mkdf-post-image-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  line-height: 1;
  color: #fff;
}

.mkdf-blog-holder article .mkdf-post-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.mkdf-blog-holder article .mkdf-post-title {
  margin: 0;
}

.mkdf-blog-holder article .mkdf-post-title a:hover {
  color: #6534ff;
}

.mkdf-blog-holder article .mkdf-post-excerpt-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 33px 0 0;
}

.mkdf-blog-holder article .mkdf-post-excerpt-holder p {
  margin: 0;
}

.mkdf-blog-holder article .mkdf-post-excerpt:after {
  content: '...';
}

.mkdf-blog-holder article .mkdf-post-read-more-button .mkdf-btn:hover {
  color: #6534ff;
}

.mkdf-blog-holder article .mkdf-post-read-more-button .mkdf-btn .mkdf-btn-text {
  vertical-align: top;
  font-size: 14px;
  font-weight: 700;
}

.mkdf-blog-holder article .mkdf-more-link-container {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 15px 0 0;
}

.mkdf-blog-holder article .mkdf-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-holder article .mkdf-post-info > * {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: currentColor;
}

.mkdf-blog-holder article .mkdf-post-info > * a {
  color: inherit;
}

.mkdf-blog-holder article .mkdf-post-info-top {
  margin-bottom: 2px;
}

.mkdf-blog-holder article .mkdf-post-info-top > div {
  position: relative;
  display: inline-block;
  padding: 0;
  color: #3d3d3d;
  font-size: 12px;
  letter-spacing: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.mkdf-blog-holder article .mkdf-post-info-top > div:before {
  content: '/';
  position: relative;
  top: 0;
  left: 0;
}

.mkdf-blog-holder article .mkdf-post-info-top > div:first-child:before {
  content: '';
}

.mkdf-blog-holder article .mkdf-post-info-top > div:last-child {
  padding: 0;
}

.mkdf-blog-holder article .mkdf-post-info-top > div a {
  color: inherit;
}

.mkdf-blog-holder article .mkdf-post-info-top > div a:hover {
  color: #6534ff;
}

.mkdf-blog-holder article .mkdf-post-info-bottom {
  padding-top: 37px;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

@media only screen and (min-width: 769px) {
  .mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left,
  .mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right {
    width: 50%;
  }
  .mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left {
    float: left;
  }
  .mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right {
    text-align: right;
    float: right;
  }
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right > div {
  margin-left: 17px;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right > div:first-child {
  margin-left: 0;
}

.mkdf-blog-holder article.format-link .mkdf-post-text {
  padding: 60px 60px 65px 70px;
  background-color: #dbfc00;
  margin-bottom: 10px;
}

.mkdf-blog-holder article.format-link .mkdf-post-text-main {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: left;
  padding-top: 3px;
}

.mkdf-blog-holder article.format-link .mkdf-post-mark {
  position: absolute;
  right: 60px;
  display: block;
  height: 100%;
  z-index: 10;
}

.mkdf-blog-holder article.format-link .mkdf-post-mark .mkdf-link-mark {
  font-size: 119px;
  color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}

.mkdf-blog-holder article.format-link .mkdf-post-link-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: top;
  text-align: left;
  z-index: 10;
}

.mkdf-blog-holder article.format-quote .mkdf-post-info-top > div {
  color: #a5a5a5;
}

.mkdf-blog-holder article.format-quote .mkdf-post-title {
  color: #fff;
}

.mkdf-blog-holder article.format-quote .mkdf-post-text {
  padding: 60px 60px 63px 70px;
  background-color: #000;
  margin-bottom: 10px;
}

.mkdf-blog-holder article.format-quote .mkdf-post-text-main {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: left;
  padding-top: 5px;
}

.mkdf-blog-holder article.format-quote .mkdf-post-mark {
  position: absolute;
  right: 60px;
  display: block;
  height: 100%;
  z-index: 10;
}

.mkdf-blog-holder article.format-quote .mkdf-post-mark .mkdf-quote-mark {
  font-size: 119px;
  color: #231f20;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}

.mkdf-blog-holder article.format-quote .mkdf-post-quote-holder {
  z-index: 10;
  position: relative;
  padding-right: 4%;
}

.mkdf-blog-holder article.format-quote .mkdf-post-link-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: top;
  text-align: left;
}

.mkdf-blog-holder article.format-quote .mkdf-quote-author {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  font-style: italic;
  color: #a5a5a5;
  padding-top: 8px;
}

.mkdf-blog-holder article.format-gallery .mkdf-post-image {
  width: 100%;
}

.mkdf-blog-holder article.format-gallery .owl-carousel .owl-item {
  z-index: 2;
}

.mkdf-blog-holder article.format-gallery .owl-carousel .owl-item.active {
  z-index: 3;
}

.mkdf-blog-holder article.format-audio.has-post-thumbnail .mkdf-post-heading {
  position: relative;
}

.mkdf-blog-holder article.format-audio.has-post-thumbnail .mkdf-blog-audio-holder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-blog-holder article.format-audio .mkdf-post-image {
  width: 100%;
  max-width: inherit;
}

.mkdf-blog-holder article.format-audio .mkdf-post-image img {
  width: 100%;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container, .mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-embed, .mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-embed body, .mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls {
  background: none;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container {
  background-color: #000;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls {
  height: 38px !important;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls {
  padding: 0 10px 0 4px;
  box-sizing: border-box;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button {
  width: 39px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button {
  width: 30px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button {
  height: 38px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button button {
  position: relative;
  height: 100%;
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  border: 0;
  outline: none;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-play button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-play button {
  width: 39px;
  background-image: url("../img/audio/play.png");
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-pause button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-pause button {
  width: 39px;
  background-image: url("../img/audio/pause.png");
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-stop button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-stop button {
  width: 39px;
  background-image: url("../img/audio/stop.png");
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-mute button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-mute button {
  width: 30px;
  background-image: url("../img/audio/sound.png");
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-unmute button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-unmute button {
  width: 30px;
  background-image: url("../img/audio/mute.png");
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time {
  height: 100%;
  padding: 0;
  font-family: inherit;
  font-size: 13px;
  color: #fff;
  line-height: 36px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail {
  height: 100%;
  padding: 0;
  font-family: inherit;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total {
  height: 5px;
  margin: 15px 0;
  background: none;
  background-color: #fff;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-current {
  height: 5px;
  background-color: #dbfc00;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-buffering,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-hovered {
  height: 5px;
  z-index: 9999;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-hovered {
  background: rgba(0, 0, 0, 0.5);
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float {
  top: -16px;
  border: 0;
  color: #fff;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-handle-content {
  display: none;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float-corner {
  top: 11px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-loaded,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float {
  background: none;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider {
  height: 38px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  height: 5px;
  background: none;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  top: 15px;
  background-color: #fff;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background-color: #dbfc00;
}

.mkdf-blog-holder article.format-video .mkdf-self-hosted-video {
  max-width: 100%;
}

/* ==========================================================================
   Blog Common style - end
   ========================================================================== */
/* ==========================================================================
   Blog Masonry general style - begin
   ========================================================================== */
.mkdf-blog-holder.mkdf-blog-type-masonry {
  /***** Number of Columns - begin *****/
  /***** Number of Columns - end *****/
  /***** Space on container if full width - start *****/
  /***** Space on container if full width - end *****/
}

.mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-blog-holder-inner {
  opacity: 0;
}

.mkdf-blog-holder.mkdf-blog-type-masonry article {
  float: left;
}

.mkdf-blog-holder.mkdf-blog-type-masonry article,
.mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-blog-masonry-grid-sizer {
  width: 100%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-blog-masonry-grid-gutter {
  width: 0;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns article,
.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns .mkdf-blog-masonry-grid-sizer {
  width: 50%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns article.mkdf-post-size-large-width, .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns article.mkdf-post-size-large-width-height {
  width: 100%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns article,
.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns .mkdf-blog-masonry-grid-sizer {
  width: 33.33333%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns article.mkdf-post-size-large-width, .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns article.mkdf-post-size-large-width-height {
  width: 66.66667%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article,
.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns .mkdf-blog-masonry-grid-sizer {
  width: 25%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article.mkdf-post-size-large-width, .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article.mkdf-post-size-large-width-height {
  width: 50%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article,
.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns .mkdf-blog-masonry-grid-sizer {
  width: 20%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article.mkdf-post-size-large-width, .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article.mkdf-post-size-large-width-height {
  width: 40%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width {
  box-sizing: border-box;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width.mkdf-no-space {
  padding: 0 0px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width.mkdf-tiny-space {
  padding: 0 10px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width.mkdf-small-space {
  padding: 0 20px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width.mkdf-normal-space {
  padding: 0 30px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width.mkdf-medium-space {
  padding: 0 40px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width.mkdf-large-space {
  padding: 0 50px;
}

/* ==========================================================================
   Blog Masonry general style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination standard style - begin
   ========================================================================== */
.mkdf-blog-pagination-wp {
  display: none;
}

.mkdf-blog-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 5px 0 30px;
  clear: both;
}

.mkdf-blog-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
}

.mkdf-blog-pagination ul li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 11px;
}

.mkdf-blog-pagination ul li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding-bottom: 6px;
}

.mkdf-blog-pagination ul li a:after {
  content: '';
  height: 2px;
  background-color: transparent;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mkdf-blog-pagination ul li a.mkdf-pag-active, .mkdf-blog-pagination ul li a:hover {
  color: #000;
}

.mkdf-blog-pagination ul li a.mkdf-pag-active:after, .mkdf-blog-pagination ul li a:hover:after {
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev, .mkdf-blog-pagination ul li.mkdf-pag-next, .mkdf-blog-pagination ul li.mkdf-pag-first, .mkdf-blog-pagination ul li.mkdf-pag-last {
  top: -1px;
  margin: 0 10px;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev a, .mkdf-blog-pagination ul li.mkdf-pag-next a, .mkdf-blog-pagination ul li.mkdf-pag-first a, .mkdf-blog-pagination ul li.mkdf-pag-last a {
  font-size: 15px;
  padding: 0;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev a:hover, .mkdf-blog-pagination ul li.mkdf-pag-next a:hover, .mkdf-blog-pagination ul li.mkdf-pag-first a:hover, .mkdf-blog-pagination ul li.mkdf-pag-last a:hover {
  color: #6534ff;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev a:after, .mkdf-blog-pagination ul li.mkdf-pag-next a:after, .mkdf-blog-pagination ul li.mkdf-pag-first a:after, .mkdf-blog-pagination ul li.mkdf-pag-last a:after {
  display: none;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev a span, .mkdf-blog-pagination ul li.mkdf-pag-next a span, .mkdf-blog-pagination ul li.mkdf-pag-first a span, .mkdf-blog-pagination ul li.mkdf-pag-last a span {
  display: block;
  line-height: inherit;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev a span:before, .mkdf-blog-pagination ul li.mkdf-pag-next a span:before, .mkdf-blog-pagination ul li.mkdf-pag-first a span:before, .mkdf-blog-pagination ul li.mkdf-pag-last a span:before {
  display: block;
  line-height: inherit;
}

/* ==========================================================================
   Blog pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode pagination standard style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-pag-standard-shortcodes .mkdf-blog-list {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.mkdf-blog-list-holder.mkdf-bl-pag-standard-shortcodes.mkdf-bl-pag-standard-shortcodes-animate .mkdf-blog-list {
  opacity: 0;
}

.mkdf-bl-standard-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 20px 0;
  clear: both;
}

.mkdf-bl-standard-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.mkdf-bl-standard-pagination ul li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 11px;
}

.mkdf-bl-standard-pagination ul li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  padding-bottom: 6px;
}

.mkdf-bl-standard-pagination ul li a:after {
  content: '';
  height: 2px;
  background-color: transparent;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-active a, .mkdf-bl-standard-pagination ul li:hover a {
  color: #000;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-active a:after, .mkdf-bl-standard-pagination ul li:hover a:after {
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev, .mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next {
  top: -1px;
  margin: 0 10px;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev a, .mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next a {
  font-size: 15px;
  padding: 0;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev a:hover, .mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next a:hover {
  color: #6534ff;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev a:after, .mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next a:after {
  display: none;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev a span, .mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next a span {
  display: block;
  line-height: inherit;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev a span:before, .mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next a span:before {
  display: block;
  line-height: inherit;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev {
  left: 0;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev a {
  opacity: 0;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next {
  right: 0;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next a {
  opacity: 1;
}

/* ==========================================================================
   Blog List shortcode pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination load more style - begin
   ========================================================================== */
.mkdf-blog-pag-load-more {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 40px 0 30px;
  text-align: center;
}

/* ==========================================================================
   Blog pagination load more style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination loading element style - begin
   ========================================================================== */
.mkdf-blog-pag-loading {
  position: relative;
  display: none;
  width: 100%;
  margin: 40px 0 20px;
  color: #000;
  text-align: center;
}

.mkdf-blog-pag-loading.mkdf-standard-pag-trigger {
  position: absolute;
  top: 50px;
  left: 0;
}

.mkdf-blog-pag-loading.mkdf-showing {
  display: block;
}

.mkdf-blog-pag-loading > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  background-color: #000;
  border-radius: 100%;
  -webkit-animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
  -moz-animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
}

.mkdf-blog-pag-loading .mkdf-blog-pag-bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.mkdf-blog-pag-loading .mkdf-blog-pag-bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -moz-transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
  }
}

@keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog pagination loading element style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Masonry style - begin
   ========================================================================== */
.mkdf-blog-holder.mkdf-blog-masonry article {
  margin: 0 0 20px;
  padding: 0 0 30px;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-excerpt-holder {
  margin-top: 23px;
}

.mkdf-blog-holder.mkdf-blog-masonry article .mkdf-post-info-bottom {
  padding: 25px 0 22px;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-quote .mkdf-post-mark, .mkdf-blog-holder.mkdf-blog-masonry article.format-link .mkdf-post-mark {
  right: 50%;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  transform: translateX(50%);
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-quote .mkdf-post-mark > span, .mkdf-blog-holder.mkdf-blog-masonry article.format-link .mkdf-post-mark > span {
  top: 52px;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-quote .mkdf-post-text-inner, .mkdf-blog-holder.mkdf-blog-masonry article.format-link .mkdf-post-text-inner {
  z-index: 50;
  position: relative;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-quote .mkdf-post-text {
  padding: 99px 51px 99px 58px;
  margin-bottom: 29px;
}

.mkdf-blog-holder.mkdf-blog-masonry article.format-link .mkdf-post-text {
  padding: 139px 51px 139px 58px;
  margin-bottom: 29px;
}

.mkdf-blog-holder.mkdf-blog-masonry article.mkdf-post-has-media .mkdf-post-heading {
  margin-bottom: 30px;
}

/* ==========================================================================
   Blog List - Masonry style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Standard style - begin
   ========================================================================== */
.mkdf-blog-holder.mkdf-blog-standard article {
  margin: 0 0 60px;
  padding: 0;
}

.mkdf-blog-holder.mkdf-blog-standard article.mkdf-post-has-media .mkdf-post-heading {
  margin-bottom: 47px;
}

/* ==========================================================================
   Blog List - Standard style - end
   ========================================================================== */
/* Single author box styles - begin
	====================================================================== */
.mkdf-author-description {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  background-color: #fafafa;
  text-align: center;
  box-sizing: border-box;
}

.mkdf-author-description .mkdf-author-description-inner {
  padding: 41px 0 39px;
  min-height: 78px;
  clear: both;
}

.mkdf-author-description .mkdf-author-description-content {
  position: relative;
  padding: 0 30px;
}

.mkdf-author-description .mkdf-author-description-image {
  width: 78px;
  margin: 0 auto;
}

.mkdf-author-description .mkdf-author-description-image img {
  display: block;
  border-radius: 5em;
}

.mkdf-author-description .mkdf-author-description-text-holder {
  position: relative;
  padding: 4px 0;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-name {
  margin: 0;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-name a {
  color: #000;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-name a:hover {
  color: #dbfc00;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-email {
  margin: 0;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-text > p {
  margin: 17px 0 14px;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-social-icons {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-social-icons a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0 15px 0 0;
  font-size: 11px;
  color: #000;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-social-icons a:last-child {
  margin: 0;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-social-icons a:hover {
  color: #dbfc00;
}

@media only screen and (max-width: 768px) {
  .mkdf-author-description .mkdf-author-description-content {
    padding: 0;
  }
  .mkdf-author-description .mkdf-author-description-image {
    display: block;
    width: 100%;
  }
  .mkdf-author-description .mkdf-author-description-text-holder {
    display: block;
    padding: 0;
    margin-top: 30px;
  }
}

/* Single author box styles - end
	====================================================================== */
/* Single posts navigation styles - begin
    ====================================================================== */
.mkdf-blog-single-navigation {
  position: relative;
  display: table;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  clear: both;
  box-sizing: border-box;
}

.mkdf-blog-single-navigation .mkdf-blog-single-navigation-inner {
  padding: 12px 0 25px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-prev,
.mkdf-blog-single-navigation .mkdf-blog-single-nav-next {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-prev:hover .mkdf-blog-single-nav-title,
.mkdf-blog-single-navigation .mkdf-blog-single-nav-prev:hover .mkdf-blog-single-nav-arrow,
.mkdf-blog-single-navigation .mkdf-blog-single-nav-next:hover .mkdf-blog-single-nav-title,
.mkdf-blog-single-navigation .mkdf-blog-single-nav-next:hover .mkdf-blog-single-nav-arrow {
  color: #6534ff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev {
  float: left;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev .mkdf-blog-single-nav-mark {
  float: left;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev .mkdf-blog-single-nav-mark {
  margin: 0 14px 0 0;
}

.mkdf-blog-single-navigation .mkdf-blog-single-next {
  float: right;
}

.mkdf-blog-single-navigation .mkdf-blog-single-next .mkdf-blog-single-nav-mark {
  float: right;
}

.mkdf-blog-single-navigation .mkdf-blog-single-next .mkdf-blog-single-nav-mark {
  margin: 0 0 0 14px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-thumbnail {
  display: inline-block;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-thumbnail img {
  width: 84px;
  height: 84px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-title {
  margin: 23px 0 0;
  line-height: 1em;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-arrow {
  font-size: 12px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-arrow > i {
  font-size: 10px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-prev {
  float: left;
  text-align: left;
  width: 50%;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-prev a {
  width: auto;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-prev .mkdf-blog-single-nav-thumbnail {
  float: left;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-prev .mkdf-blog-single-nav-title {
  padding-left: 107px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-prev .mkdf-blog-single-nav-arrow {
  padding-left: 23px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-prev .mkdf-blog-single-nav-arrow > i {
  padding-right: 5px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-next .mkdf-blog-single-nav-thumbnail {
  float: right;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-next .mkdf-blog-single-nav-title {
  padding-right: 107px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-next .mkdf-blog-single-nav-arrow {
  padding-right: 23px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-next .mkdf-blog-single-nav-arrow > i {
  padding-left: 5px;
}

.mkdf-single-links-pages {
  clear: both;
  margin: 20px 0 5px;
}

.mkdf-single-links-pages .mkdf-single-links-pages-inner > a,
.mkdf-single-links-pages .mkdf-single-links-pages-inner > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 5px 0;
}

/* Single posts navigation styles - end
    ====================================================================== */
/* Related posts styles - begin
	====================================================================== */
.mkdf-related-posts-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  box-sizing: border-box;
}

.mkdf-related-posts-holder .mkdf-related-posts-holder-inner {
  padding: 46px 0 26px;
}

.mkdf-related-posts-holder .mkdf-related-posts-title {
  margin: 0 0 40px;
}

.mkdf-related-posts-holder .mkdf-related-posts-title > * {
  margin: 0;
}

.mkdf-related-posts-holder .mkdf-related-posts-inner {
  margin: 0 -15px;
}

.mkdf-related-posts-holder .mkdf-related-post {
  position: relative;
  display: inline-block;
  float: left;
  width: 25%;
  margin: 0 0 30px;
  padding: 0 15px;
  box-sizing: border-box;
}

.mkdf-content-has-sidebar .mkdf-related-posts-holder .mkdf-related-post {
  widtH: 33.33333333333333%;
}

.touch .mkdf-related-posts-holder .mkdf-related-post {
  cursor: pointer;
}

.mkdf-related-posts-holder .mkdf-related-post:hover .mkdf-related-post-image a:after {
  opacity: 1;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image a {
  position: relative;
  display: block;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image img {
  display: block;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-title {
  margin: 19px 0 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-title:first-child {
  margin-top: 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 4px 0 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 0 13px 0 0;
  color: inherit;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div:after {
  position: absolute;
  top: 0;
  right: 4px;
  content: '/';
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div:last-child {
  padding: 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div:last-child:after {
  display: none;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div.mkdf-post-info-author .mkdf-post-info-author-text {
  margin: 0 3px 0 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div a {
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* Related posts styles - end
	====================================================================== */
/* ==========================================================================
   Blog Single style - begin
   ========================================================================== */
.mkdf-blog-holder.mkdf-blog-single article {
  margin: 0 0 30px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-title {
  margin-bottom: 23px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-top > div a > i {
  padding: 0 4px 0 2px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-heading {
  margin-bottom: 48px;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-text {
  padding: 0 0 21px;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link {
  margin-bottom: 50px;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-text {
  padding: 60px 60px 43px 70px;
  background-color: #dbfc00;
  margin-bottom: 0;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-text-main {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: left;
  padding-top: 3px;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-mark {
  position: absolute;
  right: 60px;
  display: block;
  height: 100%;
  z-index: 10;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-mark .mkdf-link-mark {
  font-size: 119px;
  color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}

.mkdf-blog-holder.mkdf-blog-single article.format-link .mkdf-post-link-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: top;
  text-align: left;
  z-index: 10;
}

.mkdf-blog-holder.mkdf-blog-single article.format-quote {
  margin-bottom: 50px;
}

.mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-info-top > div {
  color: #a5a5a5;
}

.mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-title {
  color: #fff;
  margin-bottom: 0;
}

.mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-text {
  padding: 60px 60px 63px 70px;
  background-color: #000;
  margin-bottom: 0;
}

.mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-text-main {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: left;
  padding-top: 5px;
}

.mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-mark {
  position: absolute;
  right: 60px;
  display: block;
  height: 100%;
  z-index: 10;
}

.mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-mark .mkdf-quote-mark {
  font-size: 119px;
  color: #231f20;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}

.mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-quote-holder {
  z-index: 10;
  position: relative;
  padding-right: 4%;
}

.mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-post-link-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: top;
  text-align: left;
}

.mkdf-blog-holder.mkdf-blog-single article.format-quote .mkdf-quote-author {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  font-style: italic;
  color: #a5a5a5;
  padding-top: 8px;
}

/* ==========================================================================
   Blog Single style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode global style - begin
   ========================================================================== */
.mkdf-blog-list-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  clear: both;
}

.mkdf-blog-list-holder.mkdf-bl-standard .mkdf-bli-inner {
  padding-left: 25px;
}

.mkdf-blog-list-holder .mkdf-blog-list {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mkdf-blog-list-holder .mkdf-bl-item {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mkdf-blog-list-holder .mkdf-bli-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.mkdf-blog-list-holder .mkdf-bli-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.mkdf-blog-list-holder .mkdf-post-info-date-boxed {
  display: block;
  background-color: #6534ff;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: 50;
  padding: 14px 10px 9px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mkdf-blog-list-holder .mkdf-post-info-date-boxed span {
  display: block;
  text-align: center;
}

.mkdf-blog-list-holder .mkdf-post-info-date-boxed .mkdf-post-info-date-day {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 34px;
  padding-bottom: 4px;
}

.mkdf-blog-list-holder .mkdf-post-info-date-boxed .mkdf-post-info-date-month {
  font-size: 12px;
}

.mkdf-blog-list-holder .mkdf-post-info-date-boxed a {
  color: #fff;
}

.mkdf-blog-list-holder .mkdf-post-info-date-boxed a:hover {
  color: #dbfc00;
}

.mkdf-blog-list-holder .mkdf-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 18px;
}

.mkdf-blog-list-holder .mkdf-post-image a {
  display: block;
}

.mkdf-blog-list-holder .mkdf-post-image a:hover:after {
  opacity: 1;
}

.mkdf-blog-list-holder .mkdf-post-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.mkdf-blog-list-holder .mkdf-post-image img {
  display: block;
}

.mkdf-blog-list-holder .mkdf-bli-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 2px;
  clear: both;
}

.mkdf-blog-list-holder .mkdf-bli-info > div {
  position: relative;
  display: inline-block;
  padding: 0;
  color: #3d3d3d;
  font-size: 12px;
  letter-spacing: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.mkdf-blog-list-holder .mkdf-bli-info > div:before {
  content: '/';
  position: relative;
  top: 0;
  left: 0;
  padding-left: 4px;
}

.mkdf-blog-list-holder .mkdf-bli-info > div:first-child:before {
  content: '';
  padding: 0;
}

.mkdf-blog-list-holder .mkdf-bli-info > div:last-child {
  padding: 0;
}

.mkdf-blog-list-holder .mkdf-bli-info > div a {
  color: inherit;
}

.mkdf-blog-list-holder .mkdf-bli-info > div a:hover {
  color: #6534ff;
}

.mkdf-blog-list-holder .mkdf-post-title {
  margin: 0;
}

.mkdf-blog-list-holder .mkdf-post-excerpt {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 18px 0 0;
}

.mkdf-blog-list-holder .mkdf-post-excerpt p {
  margin: 0;
}

.mkdf-blog-list-holder .mkdf-post-excerpt:after {
  content: '...';
}

.mkdf-blog-list-holder .mkdf-post-read-more-button {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 12px 0 0;
}

.mkdf-blog-list-holder .mkdf-post-read-more-button a {
  text-transform: capitalize;
}

.mkdf-blog-list-holder .mkdf-post-read-more-button a > i {
  margin-bottom: -2px;
}

.mkdf-blog-list-holder .mkdf-post-read-more-button a:hover {
  color: #6534ff;
}

/* ==========================================================================
   Blog List shortcode global style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Boxed type style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-boxed:not(.mkdf-bl-one-column) .mkdf-bl-item {
  float: left;
}

.mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-two-columns .mkdf-bl-item {
  width: 50%;
}

@media only screen and (min-width: 1025px) {
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-two-columns .mkdf-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-three-columns .mkdf-bl-item {
  width: 33.33333%;
}

@media only screen and (min-width: 1025px) {
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-three-columns .mkdf-bl-item:nth-child(3n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-four-columns .mkdf-bl-item {
  width: 25%;
}

@media only screen and (min-width: 1201px) {
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-four-columns .mkdf-bl-item:nth-child(4n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-five-columns .mkdf-bl-item {
  width: 20%;
}

@media only screen and (min-width: 1201px) {
  .mkdf-blog-list-holder.mkdf-bl-boxed.mkdf-bl-five-columns .mkdf-bl-item:nth-child(5n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-boxed .mkdf-bli-content {
  padding: 40px 30px;
  background-color: #f6f6f6;
}

.mkdf-blog-list-holder.mkdf-bl-boxed .mkdf-post-image {
  margin: 0;
}

/* ==========================================================================
   Blog List shortcode - Boxed type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Masonry type style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-masonry {
  transition: none !important;
  overflow: visible !important;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-blog-list {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bl-item {
  vertical-align: top;
  z-index: 100;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bl-item,
.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bl-grid-sizer {
  width: 100%;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bl-grid-gutter {
  width: 0;
}

.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-two-columns .mkdf-bl-item,
.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-two-columns .mkdf-bl-grid-sizer {
  width: 50%;
}

.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-three-columns .mkdf-bl-item,
.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-three-columns .mkdf-bl-grid-sizer {
  width: 33.33333%;
}

.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-four-columns .mkdf-bl-item,
.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-four-columns .mkdf-bl-grid-sizer {
  width: 25%;
}

.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns .mkdf-bl-item,
.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns .mkdf-bl-grid-sizer {
  width: 20%;
}

/* ==========================================================================
   Blog List shortcode - Masonry type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Minimal type style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-minimal .mkdf-bli-inner {
  padding: 0;
}

.mkdf-blog-list-holder.mkdf-bl-minimal .mkdf-post-info-date {
  display: block;
  margin: 0 0 8px;
  line-height: 0.6em;
}

.mkdf-blog-list-holder.mkdf-bl-minimal .mkdf-post-info-date a {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
}

.mkdf-blog-list-holder.mkdf-bl-minimal .mkdf-post-info-date a:hover {
  color: #dbfc00;
}

/* ==========================================================================
   Blog List shortcode - Minimal type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Simple type style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-bli-inner {
  padding-left: 0;
}

.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-post-image {
  display: table-cell;
  vertical-align: top;
  width: 84px;
}

.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-post-image a {
  position: relative;
}

.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-post-title a:hover {
  color: #6534ff;
}

.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-bli-content {
  display: table-cell;
  vertical-align: middle;
  width: auto;
  padding-left: 20px;
}

.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-bli-content .mkdf-post-info-date {
  display: block;
  margin: 5px 0 0;
  line-height: 1;
}

.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-bli-content .mkdf-post-info-date a {
  font-size: 12px;
  color: #3d3d3d;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-bli-content .mkdf-post-info-date a:hover {
  color: #6534ff;
}

/* ==========================================================================
   Blog List shortcode - Simple type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Standard type style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-standard:not(.mkdf-bl-one-column) .mkdf-bl-item {
  float: left;
}

.mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-two-columns .mkdf-bl-item {
  width: 50%;
}

@media only screen and (min-width: 1025px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-two-columns .mkdf-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-three-columns .mkdf-bl-item {
  width: 33.33333%;
}

@media only screen and (min-width: 1025px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-three-columns .mkdf-bl-item:nth-child(3n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-four-columns .mkdf-bl-item {
  width: 25%;
}

@media only screen and (min-width: 1281px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-four-columns .mkdf-bl-item:nth-child(4n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-five-columns .mkdf-bl-item {
  width: 20%;
}

@media only screen and (min-width: 1281px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-five-columns .mkdf-bl-item:nth-child(5n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-standard .mkdf-post-title a:hover {
  color: #6534ff;
}

.mkdf-blog-list-holder.mkdf-bl-standard .mkdf-post-excerpt {
  margin-top: 14px;
}

.mkdf-blog-list-holder.mkdf-bl-standard .mkdf-post-read-more-button {
  margin-top: 8px;
}

/* ==========================================================================
   Blog List shortcode - Standard type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List loading element style - begin
   ========================================================================== */
.mkdf-bl-loading {
  position: relative;
  display: none;
  width: 100%;
  margin: 40px 0 20px;
  text-align: center;
}

.mkdf-bl-loading.mkdf-showing {
  display: block;
}

.mkdf-bl-loading > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  background-color: #000;
  border-radius: 100%;
  -webkit-animation: bl-bouncedelay 1.4s infinite ease-in-out both;
  -moz-animation: bl-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-bouncedelay 1.4s infinite ease-in-out both;
}

.mkdf-bl-loading .mkdf-bl-loading-bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.mkdf-bl-loading .mkdf-bl-loading-bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -moz-transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
  }
}

@keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog List loading element style - end
   ========================================================================== */
/* ==========================================================================
   Blog Slider shortcode style - begin
   ========================================================================== */
.mkdf-blog-slider-holder {
  /***** Slider Type Style - begin *****/
  /***** Slider Type Style - end *****/
  /***** Carousel Type Style - begin *****/
  /***** Carousel Type Style - end *****/
  /***** Carousel Centered Type Style - begin *****/
  /***** Carousel Centered Type Style - end *****/
}

.mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-blog-slider-item {
  text-align: center;
}

.touch .mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-blog-slider-item {
  cursor: pointer;
}

.mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-blog-slider-item:hover .mkdf-item-text-wrapper {
  opacity: 1;
}

.mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-post-title {
  color: #fff;
}

.mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-post-title a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-post-read-more-button a {
  color: #fff;
}

.mkdf-blog-slider-holder.mkdf-bs-slider .mkdf-post-read-more-button a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel .mkdf-item-image a:hover:after {
  opacity: 1;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel .mkdf-item-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel .mkdf-post-title {
  margin: 29px 0 0;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel .mkdf-post-read-more-button {
  margin: 15px 0 0;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel-centered .active.center .mkdf-item-text-wrapper {
  opacity: 1;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel-centered .mkdf-blog-slider-item {
  text-align: center;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel-centered .mkdf-post-title {
  color: #fff;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel-centered .mkdf-post-title a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.mkdf-blog-slider-holder.mkdf-bs-carousel-centered .mkdf-post-read-more-button a {
  color: #fff;
}

.mkdf-blog-slider-holder.mkdf-bs-carousel-centered .mkdf-post-read-more-button a:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.mkdf-blog-slider-holder .mkdf-blog-slider-item {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style-type: none;
}

.mkdf-blog-slider-holder .mkdf-item-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-slider-holder .mkdf-item-text-wrapper {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(219, 252, 0, 0.85);
  opacity: 0;
  -webkit-transition: opacity 0.45s ease-out;
  -moz-transition: opacity 0.45s ease-out;
  transition: opacity 0.45s ease-out;
}

.mkdf-blog-slider-holder .mkdf-item-text-holder {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.mkdf-blog-slider-holder .mkdf-item-text-holder-inner {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  padding: 0 5%;
}

.mkdf-blog-slider-holder .mkdf-item-info-section {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 2px;
}

.mkdf-blog-slider-holder .mkdf-item-info-section > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
  margin-right: 3px;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}

.mkdf-blog-slider-holder .mkdf-item-info-section > div a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.mkdf-blog-slider-holder .mkdf-item-info-section > div a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.mkdf-blog-slider-holder .mkdf-item-info-section > div:after {
  content: "/";
  position: absolute;
  top: 0;
  right: 2px;
}

.mkdf-blog-slider-holder .mkdf-item-info-section > div:last-child {
  padding-right: 0;
  margin-right: 0;
}

.mkdf-blog-slider-holder .mkdf-item-info-section > div:last-child:after {
  content: '';
}

.mkdf-blog-slider-holder .mkdf-post-title {
  margin: 0;
}

.mkdf-blog-slider-holder .mkdf-bli-excerpt {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 12px 0 0;
}

.mkdf-blog-slider-holder .mkdf-bli-excerpt p {
  margin: 0;
}

.mkdf-blog-slider-holder .mkdf-post-read-more-button {
  margin: 5px 0 0;
}

/* ==========================================================================
   Blog Slider shortcode style - end
   ========================================================================== */
/* ==========================================================================
   Blog styles - end
   ========================================================================== */

/*# sourceMappingURL=blog-map.css.map */
