/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\assets\custom-styles\general-custom-styles.php klippe_mikado_h1_styles function */
h1 { font-weight: 800;margin-top: 0px;margin-bottom: 0px;}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\assets\custom-styles\general-custom-styles.php klippe_mikado_h2_styles function */
h2 { margin-top: 0px;margin-bottom: 0px;}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\assets\custom-styles\general-custom-styles.php klippe_mikado_h3_styles function */
h3 { margin-top: 0px;margin-bottom: 0px;}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\assets\custom-styles\general-custom-styles.php klippe_mikado_h4_styles function */
h4 { margin-top: 0px;margin-bottom: 0px;}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\assets\custom-styles\general-custom-styles.php klippe_mikado_h5_styles function */
h5 { font-size: 15px;margin-top: 0px;margin-bottom: 0px;}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\assets\custom-styles\general-custom-styles.php klippe_mikado_h6_styles function */
h6 { font-family: Ubuntu;font-weight: 700;text-transform: none;margin-top: 0px;margin-bottom: 0px;}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\framework\modules\contactform7\custom-styles\contact-form.php klippe_mikado_contact_form7_text_styles_1 function */
.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea { height: 105px;}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\framework\modules\contactform7\custom-styles\contact-form.php klippe_mikado_contact_form7_text_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz { color: #ffffff;font-size: 12px;background-color: rgba(31, 31, 31, 1);margin-bottom: 16px;}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\framework\modules\contactform7\custom-styles\contact-form.php klippe_mikado_contact_form7_button_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit { color: #ffffff;background-color: rgba(0, 0, 0, 1);border-color: rgba(219, 252, 0, 1);}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\framework\modules\contactform7\custom-styles\contact-form.php klippe_mikado_contact_form7_button_hover_styles_1 function */
.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover { color: #000000;background-color: rgba(219, 252, 0, 1);}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\framework\modules\contactform7\custom-styles\contact-form.php klippe_mikado_contact_form7_text_styles_2 function */
.cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea { height: 165px;}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\framework\modules\contactform7\custom-styles\contact-form.php klippe_mikado_contact_form7_text_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date, .cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea, .cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select, .cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz { color: #ffffff;font-size: 12px;background-color: rgba(31, 31, 31, 1);}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\framework\modules\contactform7\custom-styles\contact-form.php klippe_mikado_contact_form7_button_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-submit { color: #ffffff;background-color: rgba(255, 255, 255, 0);border-color: rgba(219, 252, 0, 1);padding-left: 63px;padding-right: 63px;}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\framework\modules\contactform7\custom-styles\contact-form.php klippe_mikado_contact_form7_button_hover_styles_2 function */
.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover { background-color: rgba(37, 5, 37, 0);}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\framework\modules\contactform7\custom-styles\contact-form.php klippe_mikado_contact_form7_button_styles_3 function */
.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-submit { padding-left: 63px;padding-right: 63px;}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\framework\modules\footer\admin\custom-styles\footer-custom-styles.php klippe_mikado_footer_bottom_general_styles function */
.mkdf-page-footer .mkdf-footer-bottom-holder { background-color: #1e73be;}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\framework\modules\header\types\fixed-header\admin\custom-styles\fixed-header-custom-styles.php klippe_mikado_fixed_header_styles function */
.mkdf-page-header .mkdf-fixed-wrapper.fixed .mkdf-menu-area { background-color: rgba(0, 0, 0, 1)!important;}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\framework\modules\header\types\sticky-header\admin\custom-styles\sticky-header-custom-styles.php klippe_mikado_sticky_header_styles function */
.mkdf-page-header .mkdf-sticky-header .mkdf-sticky-holder { background-color: rgba(0, 0, 0, 0.5);}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\framework\modules\header\types\sticky-header\admin\custom-styles\sticky-header-custom-styles.php klippe_mikado_sticky_header_styles function */
.mkdf-main-menu.mkdf-sticky-nav > ul > li > a { color: #ffffff;}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\framework\modules\header\types\top-header\admin\custom-styles\top-header-custom-styles.php klippe_mikado_header_top_bar_styles function */
.mkdf-header-box .mkdf-top-bar-background { height: 78px;}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\framework\modules\header\types\top-header\admin\custom-styles\top-header-custom-styles.php klippe_mikado_header_top_bar_styles function */
.mkdf-top-bar { border-bottom: 1px solid #ffffff;}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\framework\modules\header\admin\custom-styles\header-custom-styles.php klippe_mikado_header_menu_area_styles function */
.mkdf-page-header .mkdf-menu-area { background-color: rgba(0, 0, 0, 0.5);}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\framework\modules\header\admin\custom-styles\header-custom-styles.php klippe_mikado_header_logo_area_styles function */
.mkdf-header-centered .mkdf-logo-area .mkdf-logo-wrapper { padding: ;}

/* generated in C:\xampp\htdocs\grpck\wp-content\themes\klippe\framework\modules\header\admin\custom-styles\header-custom-styles.php klippe_mikado_main_menu_styles function */
.mkdf-main-menu > ul > li > a { color: #ffffff;}

